<div class="panel panel-default" th:fragment="upload-form">
    <div class="panel-heading">
        <strong>Upload document</strong><small></small>
    </div>
    <div class="panel-body">

        <form method="POST" enctype="multipart/form-data" action="/document">
            <input type="file" name="file" title="Browse"/>
            <input type="submit" class="btn btn-labeled btn-primary" value="upload">
                <span class="btn-label">
                    <i class="glyphicon glyphicon-upload"></i>
                </span>
            </input>
        </form>
    </div>
</div>