<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"> </head>
<body>
<div th:replace="fragments/navigation :: navigation"> </div>

<!-- Page Content -->
<div class="container">

    <div class="row">
        <div class="col-lg-12">

            <div th:replace="fragments/upload-form :: upload-form"> </div>

            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Documents</div>
                <div class="panel-body">
                    <p>...</p>
                </div>

                <!-- Table -->
                <table class="table">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Words</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>25.06.2015</td>
                        <td>25</td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->


</body>
</html>