<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div>
    <form method="POST" enctype="multipart/form-data" action="/document">
        <table>
            <tr>
                <td>File to upload:</td>
                <td><input type="file" name="file"/></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Upload"/></td>
            </tr>
        </table>
    </form>
</div>

<div th:if="${shingles}">
    <div th:each="shingle : ${shingles}">
        <span th:text="${shingle}"></span>
    </div>
</div>

</body>
</html>